<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Autosar System</title>
    </head>
    <body>
        <script src="" async defer></script>
        <form action="/input" method="POST">
            <labe>Enter the distance in meters:</labe>
            <input type="number" name="distance" placeholder="in meters">
            <button type="submit"> Submit </button>
        </form>
    </body>
</html>